{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>歌手列表</title>
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
</head>
<body>
    <div class = "up">
        <div></div>
        <h1 style ="color: white">歌手列表</h1>
        <div style="display: flex;justify-content: flex-end;align-items: center;gap: 20px;">
            <div style="display: flex; gap: 12px;">
                <a style="color: #F4D7A1;" href="{% url 'song_list' %}">歌曲列表</a>
                <a style="color: #F4D7A1;"href="{% url 'artist_list' %}">歌手列表</a>
            </div>
            <form method="get" style="text-align: center;display: flex; gap: 8px;" action="{% url 'search_results' %}">
                <input type="text" name="keyword" maxlength="20" required placeholder="请输入关键词">
                <label>
                    <input type="radio" name="search_type" value="song" checked>歌曲
                </label>
                <label>
                    <input type="radio" name="search_type" value="artist">歌手
                </label>
            <button type="submit">搜索</button>
            </form>
        </div>
    </div>

    
    <div class="list">
        {%for artist in artists%}
        <div class="artist card" >
            <a href = "{% url 'artist_detail' artist.id %}">
                <img class = "image"
                src="{{ artist.image_url|default:'https://placehold.co/300x300?text=No+Image' }}"
                width="150" height="150">
            </a>
            <div>
                <a class = "artist-name" style="font-size: 24px; display: block; margin:20px; font-weight: bold;"
                    href = "{% url 'artist_detail' artist.id %}">{{ artist.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class = "search">
        
        <a href = "?pageNo=1">首页</a>
        
        {%if artists.has_previous %}
        <a href = "?pageNo={{artists.previous_page_number}}">
            上一页
        </a>
        {% endif %}
        {% for page in allpages %}
            {% if page == artists.number %}
                <strong style = "margin:5px;">
                    {{page}}
                </strong>
            {% else %}
                <a style = "margin:5px;" href = "?pageNo={{ page }}">
                    {{page}}
                </a>
            {% endif %}
        {% endfor %}
        
        {%if artists.has_next %}
        <a href = "?pageNo={{artists.next_page_number}}">
            下一页
        </a>
        {% endif %}

        <a href = "?pageNo={{artists.paginator.num_pages}}">尾页</a>
        <form method="get" style="display: inline; margin-left: 20px;">
        <input type="number" name="pageNo" min="1" max="{{ artists.paginator.num_pages }}"
            required style="width: 60px;">
        <button type="submit">跳转</button>
        </form>
        <span>
            ( {{artists.number}} / {{artists.paginator.num_pages}} 页 )
        </span>
    </div>
</body>
</html>