<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ artist.name }}</title>
</head>
<body>
    <h1>歌手详情页</h1>
    <a href="{% url 'song_list' %}">
        返回歌曲列表
    </a>
    <br>
    <a href="{% url 'artist_list' %}">
        返回歌手列表
    </a>
        <div style = " display: flex; gap: 20px; margin:30px; align-items: center; text-align: center; justify-content: center;" >
            <div>
            <img style="border: 3px solid #000000 ; border-radius: 10px; box-shadow: 0 4px 10px #cccccc; object-fit: cover;"
            src="{{ artist.image_url|default:'https://placehold.co/300x300?text=No+Image' }}"
            width="300" height="300">
            <h2>{{ artist.name }}</h2>
            <a style="font-size: 16px; margin:20px;" href="{{ artist.original_url }}" target="_blank">查看歌手原始网站</a>
            </div>
            <div style = "width: 80%;max-width: 800px;height: 250px; padding: 20px;
                box-sizing: border-box; border: 2px solid #cccccc;border-radius: 10px;overflow-y: auto;">
                <h2>简介:</h2>
                <p>{{ artist.intro|default:"此歌手暂无简介"|linebreaksbr }}</p>
            </div>
        </div>
        <div>
            <h2>歌曲列表</h2>
            {% for song in artist.songs.all %}
                <div style="display: flex;align-items: center; gap: 20px; margin:30px;" >
            <a href = "{% url 'song_detail' song.id %}">
                <img style="border: 3px solid #000000 ; border-radius: 10px; box-shadow: 0 4px 10px #cccccc; object-fit: cover;"
                src="{{ song.cover_url }}"
                width="150" height="150">
            </a>
            <div>
                <a style="font-size: 24px; display: block; margin:20px; font-weight: bold;" href = "{% url 'song_detail' song.id %}">{{ song.name }}</a>
                <a style="font-size: 16px;  margin:20px;">{{ song.singer_name }}</a>
            </div>
        </div>
            {% endfor %}
        </div>
         
</body>
</html>