<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>歌曲列表</title>
</head>
<body>
    <h1>歌曲列表页</h1>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); margin: 0 auto;">
        {%for song in songs%}
        <div style="display: flex;align-items: center; gap: 20px; margin:30px;" >
            <a href = "{% url 'song_detail' song.id %}">
                <img style="border: 3px solid #000000 ; border-radius: 10px; box-shadow: 0 4px 10px #cccccc; object-fit: cover;"
                src="{{ song.cover_url }}"
                width="150" height="150">
            </a>
            <div>
                <a style="font-size: 24px; display: block; margin:20px; font-weight: bold;" href = "{% url 'song_detail' song.id %}">{{ song.name }}</a>
                <a style="font-size: 16px;  margin:20px;">{{ song.singer_name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>


    <div style="font-size: 16px; display: block; margin:5px; font-weight: bold;text-align: center;">
        {%if songs.has_previous %}
        <a href = "?pageNo={{songs.previous_page_number}}">
            上一页：{{ songs.previous_page_number }}
        </a>
        {% endif %}
        <span>
                ( {{songs.number}} / {{songs.paginator.num_pages}} 页 )
        </span>
        {%if songs.has_next %}
        <a href = "?pageNo={{songs.next_page_number}}">
            下一页：{{ songs.next_page_number }}
        </a>
        {% endif %}
    </div>
</body>
</html>