{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ song.name }}</title>
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
</head>
<body>
    <div class = "up">
        <div></div>
        <h1>{{song.name }}</h1>
        <div style="display: flex;justify-content: flex-end;align-items: center;gap: 20px;">
            <div style="display: flex; gap: 12px;">
                <a style="color: #F4D7A1;"href="{% url 'song_list' %}">歌曲列表</a>
                <a style="color: #F4D7A1;" href="{% url 'artist_list' %}">歌手列表</a>
            </div>
            <form method="get" style="text-align: center;display: flex; gap: 8px;" action="{% url 'search_results' %}">
                <input type="text" name="keyword" maxlength="20" required placeholder="请输入关键词">
                <label>
                    <input type="radio" name="search_type" value="song" checked>歌曲
                </label>
                <label>
                    <input type="radio" name="search_type" value="artist">歌手
                </label>
            <button type="submit">搜索</button>
            </form>
        </div>
    </div>
    <button type="button" onclick="history.back()">
        返回搜索结果
    </button>
        <div class = "songdetail" >
            <img class = "image"
            src="{{ song.cover_url }}"
            width="300" height="300">
            <div>
                <h2 style="font-size: 24px; display: block; margin:20px; font-weight: bold;">{{ song.name }}</h2>
                <div class = "artist-name" style="font-size: 16px;  margin:20px;">
                    {% for artist in song.artists.all %}
                    <a href="{% url 'artist_detail' artist.id %}">
                        {{ artist.name }}
                    </a>
                    
                    {% empty %} 
                        {{ song.singer_name }} 
                    {% endfor %}
                </div><br>
                
                <a style="font-size: 16px; margin:20px;" href="{{ song.original_url }}" target="_blank">查看歌曲原始网站</a>
            </div>
            <h2>歌词</h2>
            <p>
                {{song.lyrics|linebreaksbr}}
            </p>
        </div>
</body>
</html>